<!DOCTYPE html>
<html>
<%- include('./partials/_head'); %>

  <body>
    <%- include('./partials/_nav'); %>
      <div class="container mt-2">
        <h2 class="mx-auto">Categories & Variables</h2>
        <section>
          <div class="table-responsive py-2">
            <table class="table table-sm table-striped">
              <tr>
                <th>Category</th>
                <th>Group</th>
                <th>Color</th>
                <th>Edit</th>
              </tr>
              <% categories.forEach(function(c) { %>
                <tr>
                  <td>
                    <%= c.name %>
                  </td>
                  <td>
                    <%= c.group %>
                  </td>
                  <td style="color:<%= c.color %>">&#9632;</td>
                  <td><a href="/edit/category/<%= c._id %>">Edit</a></td>
                </tr>
                <% }) %>
            </table>
          </div>
        </section>
        <hr>
        <section>
          <div class="table-responsive py-2">
            <table class="table table-sm table-striped">
              <tr>
                <th>Variable</th>
                <th>Options</th>
                <th>Edit</th>
                <th>Category</th>
                <th>Type</th>
                <th>Sign</th>
                <th>Color</th>
              </tr>
              <% variables.forEach(function(v) { %>
                <tr>
                  <td>
                    <%= v.variable %>
                  </td>
                  <td>
                    <%= v.shortcut=='1' ? '✅' : '' %>
                      <%= v.morning=='1' ? '🌞' : '' %>
                        <%= v.evening=='1' ? '😴' : '' %>
                  </td>
                  <td><a href="/edit/variable/<%= v._id %>">Edit</a></td>
                  <td>
                    <%= v.category %>
                  </td>
                  <td>
                    <%= v.type %>
                      <%= v.subtype ? ` (${v.subtype})` : '' %>
                  </td>
                  <td>
                    <%= v.sign %>
                  </td>
                  <td style="color:<%= v.color %>">&#9632;</td>
                </tr>
                <% }) %>
            </table>
          </div>
        </section>
        <%- include('./partials/_footer'); %>
      </div>
  </body>

</html>