<!DOCTYPE html>
<html>
  <%- include('./partials/_head'); %>
  <body>
    <%- include('./partials/_nav'); %>
    <div class="container mt-2">
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="categories">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseCategories" aria-expanded="false" aria-controls="collapseCategories">
                View Categories
              </button>
            </h5>
          </div>
          <div id="collapseCategories" class="collapse" aria-labelledby="categories" data-parent="#accordion">
            <div class="card-body">
              <section>
                <div class="table-responsive">
                  <table class="table table-sm table-striped">
                    <tr>
                      <th>Category</th>
                      <th>Group</th>
                      <th>Color</th>
                      <th>Edit</th>
                    </tr>
                    <% categories.forEach(function(c) { %>
                      <tr>
                        <td><%= c.name %></td>
                        <td><%= c.group %></td>
                        <td style="color:<%= c.color %>">&#9632;</td>
                        <td><a href="/edit/category/<%= c._id %>">Edit</a></td>
                      </tr>
                    <% }) %>
                  </table>
                </div>
              </section>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="variables">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseVariables" aria-expanded="false" aria-controls="collapseVariables">
                View Variables
              </button>
            </h5>
          </div>
          <div id="collapseVariables" class="collapse" aria-labelledby="variables" data-parent="#accordion">
            <div class="card-body">
              <section>
                <div class="table-responsive">
                  <table class="table table-sm table-striped">
                    <tr>
                      <th>Variable</th>
                      <th>Options</th>
                      <th>Edit</th>
                      <th>Category</th>
                      <th>Type</th>
                      <th>Sign</th>
                      <th>Color</th>
                    </tr>
                    <% variables.forEach(function(v) { %>
                      <tr>
                        <td><%= v.variable %></td>
                        <td><%= v.shortcut == '1' ? '✅' : '' %><%= v.morning == '1' ? '🌞' : '' %><%= v.evening == '1' ? '😴' : '' %></td>
                        <td><a href="/edit/variable/<%= v._id %>">Edit</a></td>
                        <td><%= v.category %></td>
                        <td><%= v.type %><%= v.subtype ? ` (${v.subtype})` : ''%></td>
                        <td><%= v.sign %></td>
                        <td style="color:<%= v.color %>">&#9632;</td>
                      </tr>
                    <% }) %>
                  </table>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <section>
        <table class="table table-sm table-striped">
          <tr>
            <th>Variable</th>
            <th>Data</th>
            <th>Timestamp</th>
            <th>Edit</th>
          </tr>
          <% records.forEach(function(r) { %>
            <tr>
              <td><%= r.variable %></td>
              <td><%= r.data %></td>
              <td><%= r.moment %></td>
              <td><a href="/edit/record/<%= r.id %>">Edit</a></td>
            </tr>
          <% }) %>
        </table> 
      </section>
      <hr>
      <%- include('./partials/_footer'); %>
    </div>
  </body>
</html>