<!DOCTYPE html>
<html>
  <%- include('./partials/_head'); %>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@^3"></script>
  <script src="https://cdn.jsdelivr.net/npm/moment@^2"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script> 
  <body>
    <%- include('./partials/_nav'); %>
    <div class="container mt-2">
      <section>
        <div><canvas id="highLowChart"></canvas></div>
        <hr>
        <div><canvas id="booleanChart"></canvas></div>
        <hr>
        <div><canvas id="scalarChart"></canvas></div>
        <hr>
        <div><canvas id="tempChart"></canvas></div>
        
        <script type="text/javascript">

          const highLowCtx = document.getElementById("highLowChart").getContext("2d");
          const highLowChart = new Chart(highLowCtx, {
            type: 'bar',
            options: {
              plugins: {
                legend: {
                  display: false
                }
              },
              scales: {
                x: {
                  type: 'time',
                  position: 'bottom',
                  stacked: true,
                  time: {
                    round: 'day',
                    unit: 'day'
                  }
                },
                y: {
                  stacked: true
                }
              }
            },
            data: {
              datasets: <%- JSON.stringify(highLowData) %>
            }
          });

          const booleanCtx = document.getElementById("booleanChart").getContext("2d");
          const booleanChart = new Chart(booleanCtx, {
            type: 'bar',
            options: {
              plugins: {
                legend: {
                  display: false
                }
              },
              scales: {
                x: {
                  type: 'time',
                  time: {
                    unit: 'day'
                  },
                  position: 'bottom',
                  stacked: true
                },
                y: {
                  stacked: true
                }
              }
            },
            data: {
              datasets: <%- JSON.stringify(booleanData) %>
            }
          });

          const scalarCtx = document.getElementById("scalarChart").getContext("2d");
          const scalarChart = new Chart(scalarCtx, {
            type: 'bar',
            options: {
              scales: {
                x: {
                  type: 'time',
                  position: 'bottom',
                  time: {
                    round: 'day',
                    unit: 'day'
                  }
                },
                y: {
                  type: 'linear',
                  display: true,
                  position: 'left'
                },
                yc: {
                  type: 'linear',
                  display: true,
                  position: 'right',
                  grid: {
                    drawOnChartArea: false
                  }
                }
              }
            },
            data: {
              datasets: <%- JSON.stringify(scalarData) %>
            }
          });

          const tempCtx = document.getElementById("tempChart").getContext("2d");
          const tempChart = new Chart(tempCtx, {
            type: 'line',
            options: {
              scales: {
                x: {
                  type: 'time',
                  position: 'bottom'
                }
              }
            },
            data: {
              datasets: <%- JSON.stringify(tempData) %>
            }
          });
        </script>
      </section>
      <%- include('./partials/_footer'); %>
    </div>
  </body>
</html>