<!DOCTYPE html>
<html>
  <%- include('./partials/_head'); %>
  <body>
    <%- include('./partials/_nav'); %>
    <div class="container mt-2">
      <section>
        <h3>Morning Check In</h3>
        <form action="/daily" method="POST">
          <% morningVariables.forEach(variable => { %>
            <div class="form-row form-group">
              <% if (variable.type == "high_low") { %>
                <div class="form-check form-check-inline col">
                  <label class="form-check-label" for="<%= variable.name %>"><%= variable.name %>:</label>
                </div>
                <div class="form-group col">
                <% highLowLabels.forEach(label => {%>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="<%= variable.name %>" name="<%= variable.name %>" value="<%= label.value %>" required>
                    <label class="form-check-label" for="<%= label.value %>"><%= label.label %></label>
                  </div>
                <% }) %>
                </div>
              <% } else if (variable.type == "hours") { %>
                <div class="form-group col">
                  <label for="<%= variable.name %>"><%= variable.name %>:</label>
                  <select class="form-select" name="<%= variable.name %>" id="<%= variable.name %>" required>
                    <% for (let i = 0; i < 25; i++) { %>
                        <option value="<%= i %>"><%= i %></option>
                    <% } %>
                  </select>
                </div>
              <% } %>
            </div>
          <% }) %>
          <div class="form-group form-row">
            <button type="submit" class="btn btn-success">Submit Morning</button>
          </div>
        </form>
      </section>
      <hr>
      <section>
        <h3>Evening Check In</h3>
        <form action="/daily" method="POST">
          <% eveningVariables.forEach(variable => { %>
            <div class="form-row form-group">
              <% if (variable.type == "high_low") { %>
                <div class="form-check form-check-inline col">
                  <label class="form-check-label" for="<%= variable.name %>"><%= variable.name %>:</label>
                </div>
                <div class="col">
                <% highLowLabels.forEach(label => {%>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="<%= variable.name %>" name="<%= variable.name %>" value="<%= label.value %>" required>
                    <label class="form-check-label" for="<%= label.value %>"><%= label.label %></label>
                  </div>
                <% }) %>
                </div>
              <% } else if (variable.type == "hours") { %>
                <div class="form-group col">
                  <label for="<%= variable.name %>"><%= variable.name %>:</label>
                    <select class="form-select" name="<%= variable.name %>" id="<%= variable.name %>" required>
                      <% for (let i = 0; i < 25; i++) { %>
                          <option value="<%= i %>"><%= i %></option>
                      <% } %>
                    </select>
                </div>
              <% } else if (variable.type == "number") { %>
                <div class="form-group col">
                    <label for="<%= variable.name %>"><%= variable.name %></label>
                    <input type="number" id="<%= variable.name %>" name="<%= variable.name %>" class="form-select" />
                </div>
              <% } %>
            </div>
          <% }) %>
          <div class="form-group">
            <button type="submit" class="btn btn-success">Submit Evening</button>
          </div>
        </form>
      </section>
      <%- include('./partials/_footer'); %>
    </div>
  </body>
</html>