<!DOCTYPE html>
<html>
  <%- include('./partials/_head'); %>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <body>
    <%- include('./partials/_nav'); %>
    <div class="container mt-2">
      <section>
        <div id="scalarHeat"></div>

        <script>
            var options = {
                series: <%- JSON.stringify(scalarData) %>,
                chart: {
                    type: 'heatmap'
                },
                tooltip: {
                    enabled: false
                },
                states: {
                    hover: {
                        filter: 'none'
                    }
                },
                plotOptions: {
                    heatmap: {
                        radius: 3
                    }
                },
                xaxis: {
                    tickAmount: <%- xAxisCount %>,
                    categories: <%- JSON.stringify(xAxisDates) %>
                },
                dataLabels: {
                    enabled: false
                },
                colors: <%- JSON.stringify(scalarColorData) %>,
                stroke: {
                    width: 0
                },
                title: {
                    text: 'Scalar Variables'
                }
            };
    
            var scalarChart = new ApexCharts(document.querySelector("#scalarHeat"), options);
            scalarChart.render();
          
        </script>
      </section>
      <section>
        <div id="booleanHeat"></div>

        <script>
            var options = {
                series: <%- JSON.stringify(booleanData) %>,
                chart: {
                    type: 'heatmap'
                },
                tooltip: {
                    enabled: false
                },
                states: {
                    hover: {
                        filter: 'none'
                    }
                },
                plotOptions: {
                    heatmap: {
                        distributed: true,
                        radius: 3
                    }
                },
                xaxis: {
                    tickAmount: <%- xAxisCount %>,
                    categories: <%- JSON.stringify(xAxisDates) %>
                },
                dataLabels: {
                    enabled: false
                },
                colors: <%- JSON.stringify(booleanColorData) %>,
                stroke: {
                    width: 0
                },
                title: {
                    text: 'Boolean Variables'
                }
            };
    
            var booleanChart = new ApexCharts(document.querySelector("#booleanHeat"), options);
            booleanChart.render();
          
        </script>
      </section>
      <%- include('./partials/_footer'); %>
    </div>
  </body>
</html>