<!DOCTYPE html>
<html>
  <%- include('./partials/_head'); %>
  <body>
    <%- include('./partials/_nav'); %>
    <div class="container mt-2">
      <section>
        <div class="card-columns">
          <% shortcutData.forEach((variables, category) => { %>
            <div class="card grouping">
              <h5 class="card-title"><%= category %></h5>
              <% variables.forEach(variable => { %>
                <form action="/add/boolean" method="POST">
                  <input type="hidden" id="variable" name="variable" value="<%= variable.variable %>">
                  <input type="hidden" id="boolean" name="boolean" value="1">
                  <button type="submit" class="btn shortcut" style="background-color:<%= variable.color %>"><%= variable.variable %></button>
                </form>
              <% }) %>
            </div>
          <% }) %>
        </div>
      </section>
      <%- include('./partials/_footer'); %>
    </div>
  </body>
</html>